{% extends 'base.html' %}
{% block content %}
    <div class="text-center">
        <h1>Photo</h1>
        <div class="row">
            <div class="col col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
                <img src="{{ detail.pictures.url }}" class="img-fluid" alt="{{ detail.author_name }}">
                <p>подпись: {{ detail.text }}</p>
                <p>лайк: {{ detail.likes }}</p>
                <p>автор фото: {{ detail.author_name }}</p>
                <p>время загрузки: {{ detail.created_at }}</p>
            </div>
        </div>

        {% for comment in Comments %}
            <hr>
            <div class="comment">
            <div class="pre text-danger">{{ comment.text }}</div>
                <p class="mt-4">Комментарий от: {{ comment.author_name }} ( {{ comment.created_at|date:'d.m.Y H:i:s' }} )</p>
                <hr>
            {% if comment.author_name == request.user%}
                <p class="review-links">
                    {% if perms.webapp.change_comment %}
                        <a href="#" class="btn btn-primary">Редактировать</a>
                    {% endif %}
                    {% if perms.webapp.delete_comment%}
                        <a href="#" class="btn btn-primary">Удалить</a>
                    {% endif %}
                </p>
                <hr>
            {% endif %}
            {% endfor %}
    </div>
{% endblock %}
